artifacts/n8n/workflow_erp.json
{
  "name": "Mini-ERP — Orquestração Híbrida (Workflow + LLM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp-pedido",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3cbf90c9-0570-4431-9ae9-35fd975f26d0",
      "name": "Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -896,
        -16
      ],
      "webhookId": "erp-pedido"
    },
    {
      "parameters": {
        "url": "=http://host.containers.internal:8000/estoque/{{ $json.body.produto_id }}",
        "options": {}
      },
      "id": "cdf2884f-df69-414a-b22f-fa5dc2c170a4",
      "name": "1. Consultar Estoque",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-stock",
              "leftValue": "={{ $json.quantidade }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dfbdcc2c-5015-4185-932c-07ffa107264e",
      "name": "2. Estoque > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -416,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.containers.internal:8000/pedidos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome_cliente\": \"{{ $('Start').item.json.body.nome_cliente }}\",\n  \"itens\": [\n    {\n      \"produto_id\": {{ $('Start').item.json.body.produto_id }},\n      \"quantidade\": {{ $('Start').item.json.body.quantidade }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "88a73b80-4aeb-44d0-afa6-eb4c755f9970",
      "name": "3. Criar Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-approval",
              "leftValue": "={{ $json.total }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "4. Total > R$10k?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.containers.internal:8000/pedidos/{{ $('3. Criar Pedido').item.json.id }}/fatura",
        "options": {}
      },
      "id": "9d7e0b24-5f44-42a5-b2be-2a4d2dc4f42c",
      "name": "5. Gerar Fatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Gere um email curto e profissional de confirmação de pedido para o cliente. Dados da fatura: ID #{{ $json.id }}, Valor: R$ {{ $json.valor_total }}, Status: {{ $json.status }}. O email deve ter saudação, resumo do pedido e agradecimento. Responda apenas com o corpo do email, sem assunto.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "977926e8-2fe7-410a-a0f6-73f0eb197d0c",
      "name": "6. Claude: Email Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59dbdb2f-af4a-48bc-a623-f6eaf43070b9",
              "name": "email_gerado",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0b0d3480-c5ce-46dd-8e4f-e6d2d5fa1cf0",
      "name": "7. Email Gerado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.containers.internal:8000/alertas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tipo\": \"estoque_insuficiente\",\n  \"mensagem\": \"Produto #{{ $('1. Consultar Estoque').item.json.produto_id }} sem estoque para atender pedido\",\n  \"detalhes\": {\n    \"produto_id\": {{ $('1. Consultar Estoque').item.json.produto_id }},\n    \"estoque_atual\": {{ $('1. Consultar Estoque').item.json.quantidade }}\n  }\n}",
        "options": {}
      },
      "id": "c8947a76-1694-45d4-b42f-4ef37c1df9af",
      "name": "Alerta Sem Estoque",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"O cliente tentou comprar o produto \\\"{{ $('1. Consultar Estoque').item.json.produto_nome }}\\\" mas está sem estoque (quantidade atual: {{ $('1. Consultar Estoque').item.json.quantidade }}). Sugira 2-3 produtos alternativos do nosso catálogo (Notebook Básico R$2500, Mouse USB R$50, Teclado Mecânico R$350, Monitor 24pol R$1200) e escreva uma mensagem curta e empática para o cliente. Responda apenas com a mensagem.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "75724234-783a-4124-aff3-7a23b79b8524",
      "name": "Claude: Sugerir Alternativas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1cf7993-2074-4b54-a241-7ae2d549d70e",
              "name": "email_gerado",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "04a29336-3846-4873-b479-0d18e44e3695",
      "name": "Sugestão Gerada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.containers.internal:8000/aprovacoes",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pedido_id\": {{ $('3. Criar Pedido').item.json.id }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
      "name": "8. Submeter Aprovação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -16
      ]
    },
    {
      "parameters": {
        "url": "=http://host.containers.internal:8000/pedidos?cliente={{ $('3. Criar Pedido').item.json.nome_cliente }}",
        "options": {}
      },
      "id": "a1b2c3d4-3333-4aaa-bbbb-000000000003",
      "name": "9a. Buscar Histórico Pedidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -112
      ]
    },
    {
      "parameters": {
        "url": "=http://host.containers.internal:8000/estoque/{{ $('Start').item.json.body.produto_id }}/reservado",
        "options": {}
      },
      "id": "a1b2c3d4-4444-4aaa-bbbb-000000000004",
      "name": "9b. Buscar Estoque Reservado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": \"Você é o Agente Financeiro de uma distribuidora de TI. Sua função é avaliar o risco financeiro de pedidos de alto valor (acima de R$ 10.000). Analise: (1) valor do pedido vs histórico do cliente, (2) frequência de compras, (3) concentração de valor em um único pedido. Responda em JSON com os campos: parecer (texto analítico de 2-3 frases), recomendacao (APROVAR ou REJEITAR).\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Pedido #{{ $('3. Criar Pedido').item.json.id }} do cliente {{ $('3. Criar Pedido').item.json.nome_cliente }}, valor R$ {{ $('3. Criar Pedido').item.json.total }}. Histórico de pedidos do cliente: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-5555-4aaa-bbbb-000000000005",
      "name": "10a. Claude: Agente Financeiro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": \"Você é o Agente Operacional de uma distribuidora de TI. Sua função é avaliar o impacto operacional de pedidos de alto valor (acima de R$ 10.000). Analise: (1) disponibilidade real de estoque (total - reservado), (2) quantidade já comprometida em pedidos pendentes, (3) risco de ruptura de estoque. Responda em JSON com os campos: parecer (texto analítico de 2-3 frases), recomendacao (APROVAR ou REJEITAR).\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Pedido #{{ $('3. Criar Pedido').item.json.id }}, produto #{{ $('Start').item.json.body.produto_id }}, quantidade solicitada: {{ $('Start').item.json.body.quantidade }}. Dados de estoque: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-6666-4aaa-bbbb-000000000006",
      "name": "10b. Claude: Agente Operacional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.containers.internal:8000/aprovacoes/{{ $('3. Criar Pedido').item.json.id }}/parecer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agente\": \"financeiro\",\n  \"parecer\": {{ JSON.stringify(JSON.parse($json.content[0].text).parecer) }},\n  \"recomendacao\": {{ JSON.stringify(JSON.parse($json.content[0].text).recomendacao) }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-7777-4aaa-bbbb-000000000007",
      "name": "11a. Registrar Parecer Financeiro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.containers.internal:8000/aprovacoes/{{ $('3. Criar Pedido').item.json.id }}/parecer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agente\": \"operacional\",\n  \"parecer\": {{ JSON.stringify(JSON.parse($json.content[0].text).parecer) }},\n  \"recomendacao\": {{ JSON.stringify(JSON.parse($json.content[0].text).recomendacao) }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-8888-4aaa-bbbb-000000000008",
      "name": "11b. Registrar Parecer Operacional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        80
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "wait"
      },
      "id": "a1b2c3d4-9999-4aaa-bbbb-000000000009",
      "name": "12. Merge Pareceres",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1264,
        -16
      ]
    },
    {
      "parameters": {
        "url": "=http://host.containers.internal:8000/aprovacoes/{{ $('3. Criar Pedido').item.json.id }}",
        "options": {}
      },
      "id": "a1b2c3d4-aaaa-4aaa-bbbb-00000000000a",
      "name": "13. Consultar Aprovação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": \"Você é o Juiz (LLM-as-a-Judge) de um processo de aprovação de pedidos de alto valor em uma distribuidora de TI. Você recebe dois pareceres independentes (financeiro e operacional) e deve emitir uma recomendação final fundamentada. Regras: (1) Se ambos recomendam APROVAR, recomende APROVAR com justificativa consolidada. (2) Se ambos recomendam REJEITAR, recomende REJEITAR com justificativa consolidada. (3) Se há divergência, analise os argumentos de cada lado e tome uma decisão fundamentada — não há empate. Responda em JSON com os campos: decisao (APROVAR ou REJEITAR), justificativa (texto de 3-5 frases explicando o racional da decisão, citando pontos de cada parecer).\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Aprovação do pedido #{{ $('3. Criar Pedido').item.json.id }}, valor R$ {{ $('3. Criar Pedido').item.json.total }}. Dados completos da aprovação: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-bbbb-4aaa-bbbb-00000000000b",
      "name": "14. Claude: Agente Juiz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.containers.internal:8000/aprovacoes/{{ $('3. Criar Pedido').item.json.id }}/decisao-juiz",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"decisao\": {{ JSON.stringify(JSON.parse($json.content[0].text).decisao) }},\n  \"justificativa\": {{ JSON.stringify(JSON.parse($json.content[0].text).justificativa) }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-cccc-4aaa-bbbb-00000000000c",
      "name": "15. Registrar Decisão Juiz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Gere um email profissional de notificação para o aprovador humano. O pedido #{{ $('3. Criar Pedido').item.json.id }} do cliente {{ $('3. Criar Pedido').item.json.nome_cliente }}, valor R$ {{ $('3. Criar Pedido').item.json.total }}, passou pela análise automatizada e aguarda decisão humana. Recomendação do sistema: {{ JSON.parse($('14. Claude: Agente Juiz').item.json.content[0].text).decisao }}. Justificativa: {{ JSON.parse($('14. Claude: Agente Juiz').item.json.content[0].text).justificativa }}. O email deve: (1) informar que o pedido requer aprovação, (2) apresentar a recomendação e justificativa, (3) solicitar decisão via sistema. Responda apenas com o corpo do email.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-dddd-4aaa-bbbb-00000000000d",
      "name": "16. Claude: Email Notificação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        -16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res-pedido-id",
              "name": "pedido_id",
              "value": "={{ $('3. Criar Pedido').item.json.id }}",
              "type": "number"
            },
            {
              "id": "res-status",
              "name": "status",
              "value": "AGUARDANDO_HUMANO",
              "type": "string"
            },
            {
              "id": "res-recomendacao",
              "name": "recomendacao",
              "value": "={{ JSON.parse($('14. Claude: Agente Juiz').item.json.content[0].text).decisao }}",
              "type": "string"
            },
            {
              "id": "res-email",
              "name": "email_notificacao",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-eeee-4aaa-bbbb-00000000000e",
      "name": "17. Resultado Aprovação",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        -16
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "1. Consultar Estoque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Consultar Estoque": {
      "main": [
        [
          {
            "node": "2. Estoque > 0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Estoque > 0?": {
      "main": [
        [
          {
            "node": "3. Criar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Sem Estoque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Criar Pedido": {
      "main": [
        [
          {
            "node": "4. Total > R$10k?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Total > R$10k?": {
      "main": [
        [
          {
            "node": "8. Submeter Aprovação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5. Gerar Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Gerar Fatura": {
      "main": [
        [
          {
            "node": "6. Claude: Email Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Claude: Email Confirmação": {
      "main": [
        [
          {
            "node": "7. Email Gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Sem Estoque": {
      "main": [
        [
          {
            "node": "Claude: Sugerir Alternativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Sugerir Alternativas": {
      "main": [
        [
          {
            "node": "Sugestão Gerada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Submeter Aprovação": {
      "main": [
        [
          {
            "node": "9a. Buscar Histórico Pedidos",
            "type": "main",
            "index": 0
          },
          {
            "node": "9b. Buscar Estoque Reservado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9a. Buscar Histórico Pedidos": {
      "main": [
        [
          {
            "node": "10a. Claude: Agente Financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9b. Buscar Estoque Reservado": {
      "main": [
        [
          {
            "node": "10b. Claude: Agente Operacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10a. Claude: Agente Financeiro": {
      "main": [
        [
          {
            "node": "11a. Registrar Parecer Financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10b. Claude: Agente Operacional": {
      "main": [
        [
          {
            "node": "11b. Registrar Parecer Operacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11a. Registrar Parecer Financeiro": {
      "main": [
        [
          {
            "node": "12. Merge Pareceres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11b. Registrar Parecer Operacional": {
      "main": [
        [
          {
            "node": "12. Merge Pareceres",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "12. Merge Pareceres": {
      "main": [
        [
          {
            "node": "13. Consultar Aprovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Consultar Aprovação": {
      "main": [
        [
          {
            "node": "14. Claude: Agente Juiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Claude: Agente Juiz": {
      "main": [
        [
          {
            "node": "15. Registrar Decisão Juiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. Registrar Decisão Juiz": {
      "main": [
        [
          {
            "node": "16. Claude: Email Notificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16. Claude: Email Notificação": {
      "main": [
        [
          {
            "node": "17. Resultado Aprovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}